<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="std" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'} %highlight(%-5level) %-10.10thread | %20.30logger{30} | %msg%n%xException
            </pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="std"/>
    </root>
</configuration>