[Unit]
Description=Corfu In-Memory Infrastructure Server
SourcePath=/etc/init.d/corfu-server-inmem
Documentation=https://github.com/corfudb/corfudb
Before=shutdown.target
Conflicts=shutdown.target
After=remote-fs.target
After=network-online.target
After=systemd-journald-dev-log.socket
After=nsx-custom.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
ExecStart=/etc/init.d/corfu-server-inmem start
ExecStop=/etc/init.d/corfu-server-inmem stop
ExecReload=/etc/init.d/corfu-server-inmem restart

[Install]
WantedBy=nsx-custom.target
