[Unit]
Description=Corfu Infrastructure Server
SourcePath=/etc/init.d/corfu-server
Documentation=https://github.com/corfudb/corfudb
Before=shutdown.target
Conflicts=shutdown.target
After=remote-fs.target
After=network-online.target
After=systemd-journald-dev-log.socket
After=nsx-custom.target

[Service]
Nice=-10
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=control-group
GuessMainPID=no
User=corfu
ExecStartPre=+/etc/init.d/corfu-server prestart
ExecStart=/etc/init.d/corfu-server start
ExecStop=/etc/init.d/corfu-server stop
ExecStopPost=+/etc/init.d/corfu-server poststop
ExecReload=/etc/init.d/corfu-server restart

[Install]
WantedBy=nsx-custom.target
