[Unit]
Description=Corfu Infrastructure Server
SourcePath=/etc/init.d/corfu-server
Documentation=https://github.com/corfudb/corfudb
Before=rc-local.service
Before=multi-user.target
Before=graphical.target
Before=shutdown.target
After=remote-fs.target
After=systemd-journald-dev-log.socket
Conflicts=shutdown.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
ExecStart=/etc/init.d/corfu-server start
ExecStop=/etc/init.d/corfu-server stop
ExecReload=/etc/init.d/corfu-server restart

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target
