Package: nsx-corfu-server-inmem
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: oracle-java8-jre, wrapper-linux-x86-64, nsx-corfu-server
Maintainer: Michael Wei <mwei@cs.ucsd.edu>
Description: Corfu is a consistency platform designed around the abstraction of a shared log.
Distribution: development
