Package: [[artifactId]]-logunit
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: openjdk-7-jre,[[artifactId]]-common
Maintainer: Michael Wei <mwei@cs.ucsd.edu>
Description: The [[name]] logunit provides storages for a distributed log.
Distribution: development
