<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/corfu.log</file>
        <encoder>
            <pattern>%d %highlight(%-5level) [%thread] %cyan(%logger{15}) - %msg%n %ex{short}</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
