<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX, UTC} | %-5level | %20.20thread{20} | %50.50(%logger.%M:%L) | %msg%n%xException
            </pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/corfudb.log</file>
        <encoder>
            <pattern>
                %date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX, UTC} | %-5level | %20.20thread{20} | %50.50(%logger.%M:%L) | %msg%n%xException
            </pattern>
        </encoder>
    </appender>
    <appender name="MetricsRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/log/corfu-metrics.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/var/log/corfu-metrics.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%d %-5level - %msg%n %ex{short}</pattern>
        </encoder>
    </appender>

    <!-- Control logging levels for individual components here. -->
    <logger name="org.corfudb.runtime.object" level="INFO"/>
    <logger name="org.corfudb.runtime.clients" level="INFO"/>
    <logger name="org.corfudb.infrastructure" level="INFO"/>
    <logger name="io.netty.util" level="INFO"/>
    <logger name="io.netty.util.internal" level="INFO"/>
    <logger name="io.netty.buffer" level="INFO"/>

    <logger name="org.corfudb.metricsdata" level="INFO">
        <!--<appender-ref ref="MetricsRollingFile" />-->
    </logger>


    <root level="INFO">
        <!--<appender-ref ref="FILE" />-->
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="MetricsRollingFile" />-->
    </root>
</configuration>