name: Compatibility Test

on: pull_request

jobs:
  compatibility_test:
    # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
    runs-on: ubuntu-latest

    env:
      PKG_USERNAME: ${{ secrets.pkg_username }}
      PUBLISH_TOKEN: ${{ secrets.publish_token }}

    steps:
      - uses: actions/checkout@v2

      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ github.token }}

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '11'
          check-latest: true

      - uses: satackey/action-docker-layer-caching@v0.0.8
        continue-on-error: true

      - name: Prepare top of trunk docker image
        run: .ci/infrastructure-docker-build.sh compatibility
        shell: bash

      - name: Pull docker image built from master parent commit
        run: |
          CORFU_VERSION=$(./mvnw -q -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec)
          docker pull corfudb/corfu-server:"$CORFU_VERSION"

      - uses: actions/checkout@v2
        with:
          repository: 'CorfuDB/corfudb-cloud'

      - name: Build universe-core
        working-directory: ./universe
        run: rm -rf ~/.m2/repository/org/corfudb && ./gradlew clean publishToMavenLocal

      - name: Run version compatibility tests
        working-directory: ./tests
        run: ./gradlew clean test -Dtags=version-compatibility

      - name: Upload compatibility test logs
        uses: actions/upload-artifact@v2
        with:
          name: compatibility-test-logs
          retention-days: 3
          path: ./tests/build/logs
