name: Publish CorfuDB Artifacts

on:
  push:
    branches:
      - master

# Cancel Previous Runs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish_corfu_db_artifacts:

    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    env:
      PKG_USERNAME: ${{ secrets.pkg_username }}
      PUBLISH_TOKEN: ${{ secrets.publish_token }}
      DOCKER_USERNAME: ${{ secrets.docker_username }}
      DOCKER_PASSWORD: ${{ secrets.docker_password }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '11'
          check-latest: true
          cache-dependency-path: '**/pom.xml'

      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ~/.m2/wrapper/
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Install Docker
        run: |
          for pkg in docker.io docker-ce docker-ce-cli docker-ce-rootless-extras docker-doc docker-compose docker-compose-v2 podman-docker containerd runc; do sudo apt-get remove $pkg; done
          curl -fsSL https://get.docker.com -o get-docker.sh
          sudo sh ./get-docker.sh --version 24.0.9
          /usr/bin/docker version
          /usr/bin/docker info

      - name: Prepare Corfu
        run: |
          .ci/infrastructure-docker-build.sh docker
          .ci/generator-docker-build.sh
        shell: bash

      - name: Publish corfu artifacts
        working-directory: ./
        run: ./mvnw clean deploy -s ./.mvn/settings.xml -DskipTests -Dmaven.javadoc.skip=true -Dcheckstyle.skip -Dorg.slf4j.simpleLogger.defaultLogLevel=error -T 1C
