name: Universe Test

on: pull_request

jobs:
  universe_test:
    # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ github.token }}

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '11'
          check-latest: true

      - uses: satackey/action-docker-layer-caching@v0.0.11
        continue-on-error: true

      - name: Prepare Corfu
        run: .ci/infrastructure-docker-build.sh docker
        shell: bash

      - name: Run universe tests
        run: |
          ./mvnw -Dmaven.javadoc.skip=true -DskipTests -T 1C clean install
          ./mvnw -pl :universe -Puniverse -Dmaven.javadoc.skip=true verify
